@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

#wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    padding: 0 10px 0 10px;
    margin:0 0 20px 0;
    text-align: center;
}

.hetitle {
    color: #4154ff;
}

.shetitle {
    color: #e635c8;
}

.input {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 40%;
    align-items: center;
    justify-items: center;
    margin: 20px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.input>label {
    grid-column: 1;
    text-align: right;
    margin-right: 10px;
    width: 150px;
}

.input>input {
    grid-column: 2;
    width: 250px;
    border-radius: 0.25rem;
    padding: 2px;
    font-family: sans-serif;
}

.input>button {
    grid-column: 3;
    width: 70px;
    margin-left: 20px;
    border: 0;
    border-radius: 0.25rem;
    background: #0cb466;
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 2.5px 0 2.5px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.input>button:hover {
    background: #11cc75;
}

.hide {
    display:none;
}

#generator {
    width: 300px;
    border: 0;
    border-radius: 0.25rem;
    background: #0cb466;
    color: white;
    font-size: 3rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-top:100px;
}

#generator:hover {
    background: #11cc75;
}

#story { 
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: justify;
}

#reset {
    width: 300px;
    border: 0;
    border-radius: 0.25rem;
    background: #992121;
    color: white;
    font-size: 3rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-top:50px;
}

#reset:hover {
    background: #c72d2d;
}

@media screen and (max-width: 600px) {
    h1 {
        font-family: 'Bangers', cursive;
        font-size: 3.2rem;
        margin:0 0 20px 0;
        text-align: center;
    }
    .input {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        width: 40%;
        align-items: center;
        justify-items: center;
        margin: 20px 0 0 0;
        font-family: 'Roboto', sans-serif;
    }
    .input>label {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        margin: 5px 0px;
    }
    
    .input>input {
        grid-column: 1;
        grid-row: 2;
        margin: 5px 0px;
    }
    
    .input>button {
        grid-column: 1;
        grid-row: 3;
       margin: 10px 0px;
    }
    .hide {
        display:none;
    }

    #story { 
        width: 80%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        margin-top: 50px;
        text-align: justify;
    }
}